.md, .ios{

    page-recover-password {

        ion-content{background: white;}
        .toolbar-title-ios {text-align: center; font-size: 1em; font-weight: 600; color: #fff; pointer-events: auto;}
        .toolbar-title {text-align: center; font-size: 1em; font-weight: 600; color: #fff; pointer-events: auto;}
        .mensagem-digite-email{font-size: 0.8em; padding-bottom: 1em;}
        .mensagem-criar-conta{font-size: 0.8em; padding-top: 1em;}

        img{
            -webkit-border-radius: 15%; border-radius: 15%;
            border: 2px solid #008cff;
            border-radius: 30%;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 1em;
        }
        .recuperar-senha{font-size: 1em;}
        .botao {text-align: center; }
        .botao-cadastrar-margin{margin-top: 2em;}
        .botao-recuperar{
            font-size: 1em;
            padding-left: 5em;
            padding-right: 5em;
            width: 8em; height: 3em;
            margin-left: auto;
            margin-right: auto;
            border-radius: 0.6em !important;
            display: block !important;
        }

        .botao-cadastrar{font-size: 115%; height: 1em; margin-bottom: 0.8em; padding: 0; color: #ff8fe3;}

        #recoverPasswordForm ion-input {font-size: 0.8em; color: #9b9b9b;}
        #recoverPasswordForm ion-item {font-size: 1em; border: thin solid; border-radius: 1em; height: 0.5em; background-color: transparent; color: #cacaca; margin-bottom: 2%;}

        .toolbar-background{background-color:#008cff; border: none;}
    }
}


