.ios, .md {

    page-modal-new-dog {
    
        .slides-padding {padding-top: 30%; padding-bottom: 30%;}
        .img-sexo{width: 7rem; height: auto;}
        .personalidade{padding-top: 20%;}
        img{width: 60%; height: auto;}
        .temperamento-nome{font-size: 0.6em;}
        .alert{font-size: 0.8em;}
        .destaque-menino{text-transform: uppercase; color: #008cff;}
        .destaque-menina{text-transform: uppercase; color: #ff8fe3;}
        .uppercase{text-transform: uppercase;}
        .botao-prev-next{font-size: 0.6em;}

    }
}
