<ion-header>

  <ion-navbar>

    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{ 'pages.list-dogs.title' | translate }}</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let dog of myDogs">
    
    <ion-item  >
      <ion-avatar item-start (click)="goToEditDog(dog)">
        <img [src]="dog.imgDogProfile">
      </ion-avatar>

      <h2 (click)="goToEditDog(dog.uid)">
        <span class="list-dog-nome">{{dog.name}} </span> 
        <ion-icon class="icon-sexo" *ngIf="dog.sex == 'male'" name="custom-macho" color="primary"></ion-icon>
        <ion-icon class="icon-sexo" *ngIf="dog.sex == 'female'" name="custom-femea" color="secondary"></ion-icon>
      </h2> 
      
      <h3 class="list-dog-raca" (click)="goToEditDog(dog.uid)"> {{dog.breed}} </h3>
      <p class="list-dog-nascimento" (click)="goToEditDog(dog.uid)" *ngIf="!dog.weight">{{ 'pages.list-dogs.age' | translate }}: {{dog.birthDay | getDateToAge}} {{ 'pages.list-dogs.years' | translate }}</p>
      <p class="list-dog-peso" (click)="goToEditDog(dog.uid)" *ngIf="dog.weight">{{dog.birthDay}}, {{ dog.weight }}KGs </p>

      <button item-content ion-button icon-only clear (click)="deleteDog(dog)"  >
        <ion-icon class="icon-lixo" name="trash" ></ion-icon>
      </button>

    </ion-item>
    
  </ion-list>

  <ion-fab right bottom>
    <button class="botao-add" ion-fab (click)="goToNewDog()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
