page-modal-invite-like {
    .x-button{width: 3em; height: 3em; border-radius: 50%;}
    .borda-mensagem{border: 1px solid #d1d1d1; border-radius: 1em;}
    .botao-cancelar-enviar{width: 6.5em; height: 2.5em !important; border-radius: 0.5em !important;}
}
