<ion-header>
  
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span></span>{{dog.name}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <!--<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      
    </ion-refresher-content>
  </ion-refresher>
-->

  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-slides pager>
            <img *ngIf="imageUrl == 0" src="assets/imgs/dog-gallery.png">

            <ion-slide #slides *ngFor="let image of imageUrl">
              
              <button class="profilebutton" ion-button icon-only (click)="selectProfileImg(image)">
                <ion-icon name="heart"></ion-icon>
              </button>
              
              <button class="deletebutton" ion-button icon-only (click)="showDeleteImage(image)">
                <ion-icon name="trash"></ion-icon>
              </button>

              <img  [src]="image">


          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>

    <ion-row>
      <div *ngIf="percentage | async as pct">
        <progress [value]="pct" max="100"></progress>
        {{ pct | number }}%
      </div>

      <ion-col col-9>
        <h2>
          <span class="nome-top">{{dog.name}}</span>
          <ion-icon class="icon-sexo-tamanho"*ngIf="dog.sex == 'male'" name="custom-macho" color="primary"></ion-icon>
          <ion-icon class="icon-sexo-tamanho" *ngIf="dog.sex == 'female'" name="custom-femea" color="secondary"></ion-icon>
        </h2> 
        <h3 class="raca-top"> {{dog.breed}}</h3>

      </ion-col>

      <ion-col col-3>
        <button class="x-button" ion-button icon-only (click)="openActionSheet()">
            <ion-icon name="add"></ion-icon>
        </button>

      </ion-col>
      
    </ion-row>

    <div *ngIf="dog.sex == 'female'">
      
      <ion-item no-lines>
        <ion-label class="cio-estado-label">Estado do Cio: </ion-label>
        <ion-toggle  [(ngModel)]="dog.statusHeat"></ion-toggle>
      </ion-item>
    </div>
      
    <ion-row>
        <ion-col>

          <ion-item-group>
            <ion-item-divider class="label-maior" (click)="expand('basic', true)" *ngIf="!expandBasic">
              {{ 'pages.edit-dog.basicInformation' | translate }}
              <button item-content ion-button icon-only clear >
                <ion-icon name="arrow-dropdown" ></ion-icon>
              </button>
            </ion-item-divider>

            <ion-item-divider class="label-maior" (click)="expand('basic', false)" *ngIf="expandBasic">
                {{ 'pages.edit-dog.basicInformation' | translate }}
              <button item-content ion-button icon-only clear >
                <ion-icon name="arrow-dropup" ></ion-icon>
              </button>
            </ion-item-divider>

            <form [formGroup]="dogFormEdit" novalidate>
              <div *ngIf="expandBasic">
              
                <ion-list class="label-size">
                    
                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.name' | translate }}: </ion-label>
                    <ion-input class="nome" type="text" name="name" [(ngModel)]="dog.name" formControlName="name"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.birthday' | translate }}:</ion-label>
                    <ion-datetime displayFormat="DD MMMM YYYY" [(ngModel)]="dog.birthDay" name="birthDay" formControlName="birthDay" monthNames="Janeiro, Feveireiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"></ion-datetime>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.sex' | translate }}: </ion-label>
                    <ion-select class="sexo" [(ngModel)]="dog.sex" formControlName="sex" name="sex" interface="popover">
                      <ion-option value="male">Masculino</ion-option>
                      <ion-option value="female">Feminino</ion-option>
                    </ion-select>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.breed' | translate }}: </ion-label>
                    <ion-input class="raca" type="text" [(ngModel)]="dog.breed" name="breed" formControlName="breed"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.fur-color' | translate }}:</ion-label>
                    <ion-input class="cor-pelagem" type="text" [(ngModel)]="dog.fur" name="fur" formControlName="fur"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.fur-type' | translate }}:</ion-label>
                    <ion-select class="pelagem" [(ngModel)]="dog.furType" formControlName="furType" name="furType" interface="popover">
                      <ion-option value="short">Curta</ion-option>
                      <ion-option value="average">Média</ion-option>
                      <ion-option value="long">Longa</ion-option>
                      <ion-option value="curly">Encaracolado </ion-option>
                      <ion-option value="double">Dupla</ion-option>
                      <ion-option value="hard">Dura</ion-option>
                      <ion-option value="others">Outras</ion-option>
                    </ion-select>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.temperament' | translate }}: </ion-label>
                    <ion-select class="temperamento" [(ngModel)]="dog.temperament" formControlName="temperament" name="temperament" interface="popover">
                      <ion-option value="playful">Brincalhão</ion-option>
                      <ion-option value="docile">Dócil</ion-option>
                      <ion-option value="dependent">Dengoso</ion-option>
                      <ion-option value="fearful">Medroso</ion-option>
                      <ion-option value="territorial">Territorialista</ion-option>
                      <ion-option value="angry">Bravo</ion-option>
                    </ion-select>
                  </ion-item>

                </ion-list>

              </div>

              <ion-item-divider class="label-maior" (click)="expand('complement', true)" *ngIf="!expandComplement">
                  {{ 'pages.edit-dog.complementary-information' | translate }}
                <button item-content ion-button icon-only clear >
                  <ion-icon name="arrow-dropdown" ></ion-icon>
                </button>
              </ion-item-divider>
  
              <ion-item-divider class="label-maior" (click)="expand('complement', false)" *ngIf="expandComplement">
                  {{ 'pages.edit-dog.complementary-information' | translate }}
                <button item-content ion-button icon-only clear >
                  <ion-icon name="arrow-dropup" ></ion-icon>
                </button>
              </ion-item-divider>

              <div *ngIf="expandComplement">

                <ion-list class="label-size">

                  <ion-item>
                    <ion-label fixed> {{ 'pages.edit-dog.weight' | translate }}: </ion-label>
                    <ion-input class="peso" type="number" [(ngModel)]="dog.weight" name="weight" formControlName="weight"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.eye-color' | translate }}: </ion-label>
                    <ion-select class="olhos" [(ngModel)]="dog.eyeColor" formControlName="eyeColor" name="eyeColor" interface="popover">
                      <ion-option value="blue">Azul</ion-option>
                      <ion-option value="brown">Marrom</ion-option>
                      <ion-option value="twoColors">Duas cores</ion-option>
                    </ion-select>
                  </ion-item>

                  <ion-item>
                    <ion-label>{{ 'pages.edit-dog.pedigree' | translate }}: </ion-label>
                    <ion-toggle  class="toggle pedigree" checked="false" [(ngModel)]="dog.pedigree" formControlName="pedigree" name="pedigree"></ion-toggle>
                  </ion-item>

                  <ion-item>
                    <ion-label>{{ 'pages.edit-dog.dressage' | translate }}: </ion-label>
                    <ion-toggle  checked="false" [(ngModel)]="dog.dressage" formControlName="dressage" name="dressage"></ion-toggle>
                  </ion-item>

                  <ion-item *ngIf="dog.dressage">
                    <ion-label fixed>{{ 'pages.edit-dog.dressage-type' | translate }}: </ion-label>
                    <ion-input class="tipo-adestramento" type="text" [(ngModel)]="dog.typeDressage" name="typeDressage" formControlName="typeDressage"></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.other-features' | translate }}: </ion-label>
                    <ion-input class="outras" type="text" [(ngModel)]="dog.otherFeatureght" name="otherFeatureght" formControlName="otherFeatureght"></ion-input>
                  </ion-item>
                </ion-list> 
              </div>

              <ion-item-divider class="label-maior" (click)="expand('medic', true)" *ngIf="!expandMedic">
                {{ 'pages.edit-dog.medical-information' | translate }}
                <button item-content ion-button icon-only clear >
                  <ion-icon name="arrow-dropdown" ></ion-icon>
                </button>
              </ion-item-divider>
  
              <ion-item-divider class="label-maior" (click)="expand('medic', false)" *ngIf="expandMedic">
                {{ 'pages.edit-dog.medical-information' | translate }}
                <button item-content ion-button icon-only clear >
                  <ion-icon name="arrow-dropup" ></ion-icon>
                </button>
              </ion-item-divider>

              <div *ngIf="expandMedic">
                <ion-list class="label-size">

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.abnormality' | translate }}: </ion-label>
                    <ion-input class="anormalidade" type="text" [(ngModel)]="dog.abnormality" name="abnormality" formControlName="abnormality"></ion-input>
                  </ion-item> 

                  <ion-item>
                    <ion-label>{{ 'pages.edit-dog.worming' | translate }}: </ion-label>
                    <ion-toggle  checked="false" [(ngModel)]="dog.worming" formControlName="worming" name="worming"></ion-toggle>
                  </ion-item>

                  <ion-item *ngIf="dog.worming">
                    <ion-label fixed>{{ 'pages.edit-dog.wormingFrequency' | translate }}: </ion-label>
                    <ion-select class="vermifugado-frequencia"[(ngModel)]="dog.wormingFrequency" formControlName="wormingFrequency" name="wormingFrequency" interface="popover">
                      <ion-option value="threeMonth">Três meses</ion-option>
                      <ion-option value="fourMonth">Quatro meses</ion-option>
                      <ion-option value="fiveMonth">Cinco meses</ion-option>
                      <ion-option value="sixMonth">Seis meses</ion-option>
                      <ion-option value="sevenMonth">Sete meses</ion-option>
                      <ion-option value="eightMonth">Oito meses</ion-option>
                      <ion-option value="nineMonth">Nove meses</ion-option>
                      <ion-option value="tenMonth">Dez meses</ion-option>
                      <ion-option value="elevenMonth">Onze meses</ion-option>
                      <ion-option value="twelveMonth">Doze meses</ion-option>
                      <ion-option value="random">Aleatório</ion-option>
                    </ion-select>
                  </ion-item>

                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.vaccination' | translate }}: </ion-label>
                    <ion-select class="vacinacao" [(ngModel)]="dog.vaccination" formControlName="vaccination" name="vaccination" interface="popover">
                      <ion-option value="upToDate">Em dia</ion-option>
                      <ion-option value="someDelayed">Algumas atrasadas</ion-option>
                      <ion-option value="delayed">Atrasada</ion-option>
                    </ion-select>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label fixed>{{ 'pages.edit-dog.medical-observation' | translate }}: </ion-label>
                    <ion-input class="obs-medicas" type="text" [(ngModel)]="dog.medicalObs" name="medicalObs" formControlName="medicalObs"></ion-input>
                  </ion-item>

                </ion-list>
              </div>
              
              <div *ngIf="dog.sex === 'female'">
                <ion-item-divider class="label-maior" (click)="expand('heat', true)" *ngIf="!expandHeat">
                    {{ 'pages.edit-dog.heat-information' | translate }}
                  <button item-content ion-button icon-only clear >
                    <ion-icon name="arrow-dropdown" ></ion-icon>
                  </button>
                </ion-item-divider>
    
                <ion-item-divider class="label-maior" (click)="expand('heat', false)" *ngIf="expandHeat">
                    {{ 'pages.edit-dog.heat-information' | translate }}
                  <button item-content ion-button icon-only clear >
                    <ion-icon name="arrow-dropup" ></ion-icon>
                  </button>
                </ion-item-divider>
                
                <div *ngIf="expandHeat">
                  <ion-list class="label-size">

                    <ion-item>
                      <ion-label fixed>{{ 'pages.edit-dog.date-last-heat' | translate }}</ion-label>
                      <ion-datetime displayFormat="DD MMMM YYYY" [(ngModel)]="dog.lastHeat" name="lastHeat" formControlName="lastHeat" monthNames="Janeiro, Feveireiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"></ion-datetime>
                    </ion-item>

                    <ion-item>
                      <ion-label fixed>{{ 'pages.edit-dog.heat-frequency' | translate }}: </ion-label>
                      <ion-select class="cio-frequencia" [(ngModel)]="dog.heatFrequency" formControlName="heatFrequency" name="heatFrequency" interface="popover">
                        <ion-option value="doNotKnow">Não sei</ion-option>
                        <ion-option value="fiveMonth">Cinco meses</ion-option>
                        <ion-option value="sixMonth">Seis meses</ion-option>
                        <ion-option value="sevenMonth">Sete meses</ion-option>
                        <ion-option value="eightMonth">Oito meses</ion-option>
                        <ion-option value="nineMonth">Nove meses</ion-option>
                      </ion-select>
                    </ion-item>

                    <ion-item>
                      <ion-label fixed>{{ 'pages.edit-dog.heat-duration' | translate }}: </ion-label>
                      <ion-select class="cio-duracao" [(ngModel)]="dog.heatDuration" formControlName="heatDuration" name="heatDuration" interface="popover">
                        <ion-option value="doNotKnow">Não sei</ion-option>
                        <ion-option value="oneWeek">Uma semana</ion-option>
                        <ion-option value="twoWeeks">Duas semanas</ion-option>
                        <ion-option value="threeWeeks">Três semanas</ion-option>
                        <ion-option value="fourWeeks">Quatro semanas</ion-option>
                      </ion-select>
                    </ion-item>
                    
                  </ion-list>
                </div>
              </div>

            </form>

            
              <ion-row text-center style="margin-left: 6%;">

                <ion-col col-6>
                  <button class="edit-dog-botao" ion-button full color="danger-light" round (click)="closePage()">Cancelar</button>
                </ion-col>
                
                <ion-col col-6>
                  <button class="edit-dog-botao edit-dog-salvar" ion-button full  (click)="EditDog(true)">Salvar</button>
                </ion-col>

              </ion-row>
            

          </ion-item-group>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
