.ios, .md{
    page-search-dog {
        .icon-filtros{color: #fff;}
        .icon-sexo{font-size: 0.8em;}
        .filtros-selecionados{margin-bottom: 1em;}
        .dogs-encontrados{font-size: 1.5em;}
    }
    
}

